version: '3.9'

services:
  backend:
    image: golang:1.25-alpine
    working_dir: /app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgres://postgres:secret@db:5432/games?sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
    command: go run ./cmd/main/main.go

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
      
  populate-igdb:
    image: golang:1.25-alpine
    working_dir: /app
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgres://postgres:secret@db:5432/games?sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
    command: go run ./cmd/populate-igdb/main.go

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: games
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql  # For pg_trgm extension
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: